<div class="container" *ngIf="this.classes && this.classes.results && this.races && this.races.results && this.games">
  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <img class="img-sm mt-3 mb-2 ml-1 mr-1" [src]="currentPage >= page ? 'assets/icons/step_done.png' : 'assets/icons/step_not_done.png'"
            *ngFor="let page of pages index as i" />
        </div>
      </div>
      <h4 class="text-center">{{ this.title }}</h4>

      <div class="row justify-content-between" *ngIf="currentPage <= maxPage">
        <button type="button" class="btn btn-danger" [disabled]="!canMoveBack()" (click)="changePage(-1)">Back</button>
        <button type="button" class="btn btn-success" [disabled]="!canMoveOn()" (click)="changePage(1)">{{ buttonText }}</button>
      </div>

      <div class="mt-3" [ngSwitch]="currentPage">

        <!-- Game, Name, and Level -->
        <div class="row" *ngSwitchCase="1">
          <div class="col-md-6 mb-sm-0 mb-5">
            <label class="col-sm-4 col-form-lable">Game:</label>
            <select class="custom-select col-md-5" (change)="selectGame($event.target.value)">
              <option selected>Choose</option>
              <option *ngFor="let game of this.games index as i" [value]="i">{{ game.name }}</option>
            </select>
          </div>
          <div [class.panelHide]="!this.selectedGame" class="col-md-6" *ngIf="this.selectedGame">
            <!-- Stats -->
            <div class="col-lg-10 panel">
              <div [class.panelHide]="!this.selectedGame" class="col-md-8" *ngIf="this.selectedGame">
                <!-- Name -->
                <div class="form-group row">
                  <label class="col-sm-4 col-form-lable">Name:</label>
                  <div class="col-md-8">
                    <input [value]="character.name" (input)="character.name = $event.target.value" type="text" class="form-control" placeholder="Name"
                      [ngClass]="{ 'is-invalid': !character.name.length, 'is-valid': character.name.length }">
                  </div>
                </div>

                <!-- Level -->
                <div class="form-group row">
                  <label class="col-sm-4 col-form-lable">Level:</label>
                  <div class="col-md-8">
                    <input [value]="this.level" (input)="this.level = $event.target.value" type="text" class="form-control" placeholder="Level"
                      [ngClass]="{ 'is-invalid': !this.level, 'is-valid': this.level }">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Race/Subrace -->
        <div class="row justify-content-between" *ngSwitchCase="2">
          <div class="col-md-4">
            <!-- Race -->
            <div class="form-group row">
              <label class="col-md-4 col-form-lable">Race Type:</label>
              <select class="custom-select col-md-8" (change)="selectRace($event.target.value)">
                <option selected>Choose</option>
                <option *ngFor="let race of this.races.results index as i" [value]="race.url">{{ race.name }}</option>
              </select>
            </div>

            <!-- Subrace -->
            <div class="form-group row">
              <label class="col-sm-4 col-form-lable">Race:</label>
              <select class="custom-select col-md-8" (change)="selectSubRace($event.target.value)" *ngIf="this.selectedRace">
                <option selected>Choose</option>
                <option *ngFor="let race of this.selectedRace.subraces index as i" [value]="race.url">{{ race.name }}</option>
              </select>
            </div>
          </div>

          <div [class.panelHide]="!this.selectedSubRace" class="col-md-7 text-light dark-border content panel-left" *ngIf="this.selectedSubRace">
            <div class="col-12">
              <h4>{{ this.selectedSubRace.name }}</h4>
              <hr class="stat mt-0" />
            </div>
            <div class="col-12">
              <p>{{ this.selectedSubRace.desc }}</p>

              <div class="text-center">
                <b>Ability Bonuses:</b>
                <p></p>
                <div *ngFor="let stat of fixAbilityBonuses(this.selectedSubRace.ability_bonuses)">{{ stat }}</div>
                <p></p>
                <p>
                  <b>Age: </b>{{ this.selectedSubRace.age }}</p>
                <p>
                  <b>Alignment: </b>{{ this.selectedSubRace.alignment }}</p>
                <p>
                  <b>Preferred Class(es): </b>{{ this.selectedSubRace.preferred_class }}</p>
                <p>
                  <b>Size: </b>{{ this.selectedSubRace.size }}</p>
                <p>
                  <b>Speed: </b>{{ this.selectedSubRace.speed }}</p>
              </div>

              <button (click)="traitsListActive = !traitsListActive" class="detailButton">Traits
                <span class="float-right glyphicon glyphicon-menu-down"></span>
              </button>
              <div class="detailList" *ngIf="this.traitsListActive">
                <ul class="list-group w-100 static-size-list short">
                  <li class="list-group-item light-content text-light selectable-item" (click)="getTraitDetails(trait.url, content)" *ngFor="let trait of this.selectedSubRace.racial_traits index as i">
                    {{ trait.name }}
                  </li>
                </ul>
              </div>

              <button (click)="languageListActive = !languageListActive" class="detailButton">Languages
                <span class="float-right glyphicon glyphicon-menu-down"></span>
              </button>
              <div class="detailList" *ngIf="this.languageListActive">
                <ul class="list-group w-100 static-size-list short">
                  <li class="list-group-item light-content text-light" *ngFor="let lang of this.selectedSubRace.languages">
                    {{ lang.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Class -->
        <div class="row" *ngSwitchCase="3">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-lable">Class:</label>
              <select class="custom-select col-md-8" (change)="selectClass($event.target.value)">
                <option selected>Choose</option>
                <option *ngFor="let class of this.classes.results index as i" [value]="class.url">{{ class.name }}</option>
              </select>
            </div>
          </div>
          <div [class.panelHide]="!this.selectedClass" class="col-md-8" *ngIf="this.selectedClass">

            <div class="panel dark-border text-light content">
              <div class="row">
                <div class="col-12">
                  <h4 class="text-center">{{ this.selectedClass.name }}</h4>
                  <hr class="stat mt-0" />
                </div>

                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-8">
                      <p class="text-center">
                        <b>Hit Die: </b>{{ this.selectedClass.hit_die }}</p>

                      <button (click)="proficiencyChoiceListActive = !proficiencyChoiceListActive" class="detailButton">Proficiency
                        Choices |
                        <strong>Choose {{ this.choiceAmount }}</strong>
                      </button>
                      <div class="detailList" *ngIf="this.proficiencyChoiceListActive">
                        <ul class="list-group w-100 static-size-list short">
                          <li class="list-group-item light-content text-light" *ngFor="let prof of this.selectedClass.proficiency_choices[0].from index as i">
                            {{ prof.name }}
                            <button type="button" class="btn btn-sm btn-success float-right" *ngIf="!isSelected(prof.name)" (click)="selectProf(prof.name)"
                              [disabled]="choiceAmount <= 0">Select</button>
                            <button type="button" class="btn btn-sm btn-danger float-right" *ngIf="isSelected(prof.name)" (click)="unselectProf(prof.name)">Deselect</button>
                          </li>
                        </ul>
                      </div>


                      <button (click)="proficiencyListActive = !proficiencyListActive" class="detailButton">Natural Proficiencies
                        <span class="float-right glyphicon glyphicon-menu-down"></span>
                      </button>
                      <div id="proficiencyList" class="detailList" *ngIf="this.proficiencyListActive">
                        <ul class="list-group list-group-flush w-100 static-size-list short">
                          <li class="list-group-item light-content text-light" *ngFor="let prof of this.selectedClass.proficiencies">
                            {{ prof.name }}
                          </li>
                        </ul>
                      </div>

                      <button (click)="savingThrowsListActive = !savingThrowsListActive" class="detailButton">Saving Throws
                        <span class="float-right glyphicon glyphicon-menu-down"></span>
                      </button>
                      <div id="savingThrowsList" class="detailList" *ngIf="this.savingThrowsListActive">
                        <ul class="list-group w-100 static-size-list short">
                          <li class="list-group-item light-content text-light" *ngFor="let save of this.selectedClass.saving_throws">
                            {{ save.name }}
                          </li>
                        </ul>
                      </div>

                      <div *ngIf="this.selectedClass.required_subclass">
                        <button (click)="subclassesListActive = !subclassesListActive" class="detailButton">{{ this.selectedClass.required_subclass
                          ? 'Subclasses (required)' : 'Subclasses' }}
                          <span class="float-right glyphicon glyphicon-menu-down"></span>
                        </button>
                        <div id="subclassesList" class="detailList" *ngIf="this.subclassesListActive">
                          <ul class="list-group w-100 static-size-list short">
                            <li class="list-group-item light-content text-light" *ngFor="let subc of this.selectedClass.subclasses">
                              {{ subc.name }}
                              <button type="button" class="btn btn-secondary btn-sm float-right" (click)="getSubclassDetails(subc.url, subclass)">Details</button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 text-light bg-transparent">
                      <p class="text-light bg-transparent">You may select
                        <strong>{{ this.choiceAmount }}</strong> more Proficiencies. Click the first dropdown menu and select
                        the proficiencies you want.</p>
                      <p class="text-light bg-transparent">Your Natural Proficiencies and proficiencies that are given to
                        your class automatically</p>
                      <p class="text-light bg-transparent">Your Saving Throws are stats that you have a proficiency bonus
                        in when making the save.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Stats -->
        <div class="row justify-content-between" *ngSwitchCase="4">
          <div class="col-md-6 dark-border content text-light text-center mb-sm-0 mb-5">
            <div class="row mt-4">

              <!-- Roll and stat assign panel -->
              <div [ngClass]="this.finishedRolling() ? 'col-lg-12' : 'col-lg-6'">
                <p *ngFor="let r of this.rolls index as i">
                  Roll: {{ this.keptRolls[i] }} {{ getStatString(i) }}
                  <button type="button" class="btn btn-sm btn-primary ml-2" [disabled]="this.rolls[i] == 2" (click)="rollStat(i)">{{
                    this.rolls[i] > 0 ? 'Re-Roll' : 'Roll' }}</button>
                  <button type="button" class="btn btn-sm btn-success ml-2" [disabled]="this.rolls[i] == 2 || this.rolls[i] <= 0" (click)="this.rolls[i] = 2">Keep</button>
                </p>
              </div>

              <!-- Help screen -->
              <div class="col-lg-5" [class.panelHide]="!this.finishedRolling()" *ngIf="!this.finishedRolling()">
                <p class="panel text-left">
                  When rolling for stats, you can roll up to two times.
                  <br>
                  <br> When you roll for the second time, you
                  <strong>must</strong> keep the second value, even if the value is less than your original roll.
                </p>
              </div>
            </div>
          </div>


          <div [class.panelHide]="!this.finishedRolling()" class="col-md-5 dark-border content text-center" *ngIf="this.finishedRolling()">
            <!-- Stats Set-->
            <div class="row">
              <div class="col-12 text-light">
                <p>As a
                  <strong>{{ selectedClass.name }}</strong> your two main stats are:
                  <em>{{ selectedClass.saving_throws[0].name }}</em> and
                  <em>{{ selectedClass.saving_throws[1].name }}</em>
                </p>
              </div>
            </div>
            <div class="row mt-4 panel">
              <div class="col-6 text-light">
                <p class="mt-2 mb-4" *ngFor="let stat of this.stats index as i">
                  {{ stat }} ({{ getStatString(i) }})
                </p>
              </div>


              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="box list-group-item" [ngClass]="this.boxIndex === i ? 'box-clicked' : 'box'" *ngFor="let roll of this.keptRolls index as i"
                    (click)="clickBox(i)">
                    {{ roll }}
                  </li>
                </ul>
              </div>
              <small class="text-light">*Click any two stats to swap them!</small>
            </div>
          </div>
        </div>

        <!-- HP -->
        <div class="row" *ngSwitchCase="5" [class.panelHide]="!currentPage !== 5">
          <div class="col-sm-8 text-center mx-auto panel-left dark-border content text-light mb-sm-0 mb-5">
            <h6>Max Roll: {{ hp_rolls[0] }}</h6>
            <p *ngFor="let roll of this.hp_rolls index as i">
              Level {{ i+1 }}: {{ roll }} {{ getAttrScoreString(this.character.abil_Score_Con) }}
              <button type="button" class="btn btn-sm btn-primary ml-2" [disabled]="this.hpRollCount[i] === 2" (click)="rollHP(i)">{{
                this.hpRollCount[i] > 0 ? 'Re-Roll' : 'Roll' }}</button>
              <button type="button" class="btn btn-sm btn-s btn-h ml-2" [disabled]="this.hpRollCount[i] >= 1" (click)="keepHalfHealthRoll(i)">Half</button>
              <button type="button" class="btn btn-sm btn-success ml-2" [disabled]="this.hpRollCount[i] === 2 || this.hpRollCount[i] <= 0"
                (click)="this.hpRollCount[i] = 2">Keep</button>
            </p>
            <p>Total Health: {{ getTotalHealth() }}</p>
          </div>
          <div class="col-sm-4">
            <p class="dark-border content text-light">
              When rolling for health, you can either keep your health for half of your max roll, or you can roll up to two times. Your
              constitution modifier is added to each roll.
              <br>
              <br> When you roll for the second time, you must keep the second value, even if the value is less than your
              original roll.
              <br>
              <br> You may
              <strong>not</strong> keep for half if you have already rolled at least one time.
            </p>
          </div>
        </div>

        <!-- Gods -->
        <div class="row" *ngSwitchCase="6">
          <div class="col-md-6 mb-sm-0 mb-5">
            <div class="form-group row">
              <label class="col-md-4 col-form-lable">Gods:</label>
              <select class="custom-select col-md-8" (change)="selectGod($event.target.value)">
                <option selected>Choose</option>
                <option *ngFor="let god of this.gods.results" [value]="god.url">{{ god.name }}</option>
              </select>
            </div>
          </div>

          <div [class.panelHide]="!this.selectedGod" class="col-md-6" *ngIf="this.selectedGod">
            <div class="row panel dark-border content text-light">
              <div class="col-12">
                <h4 class="text-center">{{ this.selectedGod.name }}, {{ this.selectedGod.god_of }}</h4>
                <hr class="stat mt-0" />
              </div>
              <div class="col-12">
                <p class="text-center"><strong>Alignment:</strong> {{ this.selectedGod.alignment }}</p>
                <p class="text-center" *ngIf="this.selectedGod.boon"><strong>Boon: </strong>{{ this.selectedGod.boon }}</p>
                <p *ngFor="let line of this.selectedGod.desc">{{ line }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- ^^end of current page -->

    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">{{ this.trait.name }}</h4>
    </div>
  </div>

  <div class="modal-body content text-light">
    {{ this.trait.desc }}
  </div>

  <div class="header modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="c()">Close</button>
  </div>
</ng-template>

<ng-template #subclass let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">{{ this.subClass.name }}</h4>
    </div>
  </div>

  <div class="modal-body content text-light">
    {{ this.subClass.desc }}
  </div>

  <div class="header modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="c()">Close</button>
    <button type="button" class="btn btn-sm btn-success" (click)="setSubClass(this.subClass.name); c();">{{this.subClass.name
      === this.character.subclass ? 'Deselect' : 'Select' }}</button>
  </div>
</ng-template>

<div *ngIf="!(this.classes && this.classes.results && this.races && this.races.results && this.games)">
  <h1>Loading</h1>
</div>