<div class="container" *ngIf="this.classes && this.classes.results && this.races && this.races.results && this.games">
  <div class="row">
    <div class="col-6 mt-5">
      <form>
        <!-- Name -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Name:</label>
          <div class="col-md-5">
            <input [value]="character.name" (input)="character.name = $event.target.value" type="text" class="form-control" placeholder="Name"
              [ngClass]="{ 'is-invalid': !character.name.length, 'is-valid': character.name.length }">
          </div>
        </div>

        <!-- Level -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Level:</label>
          <div class="col-md-5">
            <input [value]="this.level" (input)="this.level = $event.target.value" type="text" class="form-control" placeholder="Level"
              [ngClass]="{ 'is-invalid': !this.level, 'is-valid': this.level }">
          </div>
        </div>

        <!-- Race -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Race Type:</label>
          <select class="custom-select col-md-5" (change)="selectRace($event.target.value)">
            <option selected>Choose</option>
            <option *ngFor="let race of this.races.results index as i" [value]="race.url">{{ race.name }}</option>
          </select>
        </div>

        <!-- Subrace -->
        <div class="form-group row" *ngIf="this.selectedRace">
          <label class="col-sm-4 col-form-lable">Race:</label>
          <select class="custom-select col-md-5" (change)="selectSubRace($event.target.value)">
            <option selected>Choose</option>
            <option *ngFor="let race of this.selectedRace.subraces index as i" [value]="race.url">{{ race.name }}</option>
          </select>
        </div>

        <!-- Class -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Class:</label>
          <select class="custom-select col-md-5" (change)="selectClass($event.target.value)">
            <option selected>Choose</option>
            <option *ngFor="let class of this.classes.results index as i" [value]="class.url">{{ class.name }}</option>
          </select>
        </div>

        <!-- Game -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Game:</label>
          <select class="custom-select col-md-5" (change)="selectGame($event.target.value)">
            <option selected>Choose</option>
            <option *ngFor="let game of this.games index as i" [value]="i">{{ game.name }}</option>
          </select>
        </div>
      </form>
    </div>

    <!-- Roll and stat assign panel -->
    <div class="col-md-6 mt-5 mb-5" *ngIf="!this.finishedRolling()">
      <p *ngFor="let r of this.rolls index as i">
        Roll: {{ this.keptRolls[i] }} {{ getStatString(i) }}
        <button type="button" class="btn btn-sm btn-primary ml-2" [disabled]="!canRollAgain(i)" (click)="rollStat(i)">{{ getRollString(i) }}</button>
        <button type="button" class="btn btn-sm btn-success ml-2" [disabled]="!canRollAgain(i) || this.rolls[i] <= 0" (click)="keepRoll(i)">Keep</button>
      </p>
    </div>

    <!-- Stats -->
    <div class="col-lg-6 mt-5" *ngIf="this.finishedRolling()">
      <div class="row">
        <div class="col-4 col-sm-3">
          <p class="mt-2 mb-4" *ngFor="let stat of this.stats index as i">
            {{ stat }} ({{ getStatString(i) }})
          </p>
        </div>

        <div class="col-2" *ngIf="this.finishedRolling()">
          <ul class="list-group list-group-flush">
            <li class="box list-group-item" [ngClass]="this.boxIndex === i ? 'box-clicked' : 'box'" *ngFor="let roll of this.keptRolls index as i" (click)="clickBox(i)">
              {{ roll }}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <button type="btn" class="btn btn-primary float-right mt-2" [disabled]="!canSubmitCharacter()" (click)="confirmCharacter()">Confirm</button>
</div>