<div class="container-fluid">
  <div class="row">

    <div class="card w-100 bg-transparent">
      <div class="card-header text-center header text-light">
        {{ this.user.username }} (DM)
        <button type="button" class="btn btn-success float-right" [routerLink]="['/game']">Leave</button>
      </div>
      <div class="card-body content text-light">
        <!-- Rolling info -->
        <div class="row">
          <!-- Roll -->
          <div class="col-md-4">
            <app-roll (rollOutput)="rollDice($event)"></app-roll>
          </div>

          <!-- Item Giving -->
          <div class="col-md-4" *ngIf="this.getOtherGroupMembers().length">
            <app-giveitem [users]="this.getOtherGroupMembers()" [character]="null" (imd)="selectPlayer($event)"></app-giveitem>
          </div>

          <!-- XP Giving -->
          <div class="col-md-4" *ngIf="this.getOtherGroupMembers().length">
            <app-givexp (xpOutput)="giveXP($event)"></app-givexp>
          </div>

        </div>
      </div>
      <div class="card-footer header">
      </div>
    </div>

  </div>
</div>