<div class="container-fluid">
  <div class="row mb-5 justify-content-around">
    <div class="col-md-11 header text-light text-center">
      <h2>
        {{ this.user.username }} (DM)
      </h2>
    </div>
  </div>

  <div class="row justify-content-around">
    <!-- Rolling -->
    <div class="col-md-5 content text-light mb-md-0 mb-5 dark-border">
      <app-roll (rollOutput)="rollDice($event)"></app-roll>
    </div>

    <!-- Item Giving -->
    <div class="col-md-5 content text-light dark-border" *ngIf="getOtherGroupMembers().length">
      <app-giveitem [users]="this.getOtherGroupMembers()" [character]="null" (imd)="selectPlayer($event)"></app-giveitem>
    </div>
  </div>

  <div class="row mt-5 justify-content-around" *ngIf="getOtherGroupMembers().length">
    <!-- Give XP -->
    <div class="col-md-3 content text-light mb-md-0 mb-5 dark-border">
      <app-givexp [monster]="this.deadMonster" (xpOutput)="giveXP($event)"></app-givexp>
    </div>

    <!-- Create Monster -->
    <div class="col-md-7 content text-light dark-border">
      <app-view-monster [game]="this.game" (deadMonster)="this.setDeadMonster($event)"></app-view-monster>
    </div>
  </div>
  <!-- <div class="row mt-5 justify-content-around">
    <div class="col-12 content text-light dark-border">
      <app-view-monster [game]="this.game"></app-view-monster>
    </div>
  </div> -->

</div>