<div class="container-fluid">
  <div class="row">

    <!-- List of owned games -->
    <div class="col-md-5 mt-5">
      <h2 class="header mb-0">Games</h2>
      <ul class="list-group static-size-list">
        <li class="list-group-item content text-light game" (click)="loadGame(game)" *ngFor="let game of this.games | async">
          {{ game.name }}
        </li>
      </ul>
    </div>

    <!-- List of chars in selected game -->
    <div class="col-md-5 mt-5" *ngIf="this.game">
      <h2 class="header mb-0">Characters In: {{ this.game.name }}</h2>
      <ul class="list-group static-size-list" *ngIf="this.game.character.length">
        <li class="list-group-item content text-light character" (click)="selectCharacter(character)" *ngFor="let character of this.game.character">
          {{ character.name }}
        </li>
      </ul>
      <div *ngIf="!this.game.character.length">
        <h3 class="text-center mb-0">There are no characters in this game.</h3>
      </div>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col-md-12 mx-auto" *ngIf="this.character">
      <div class="card w-100 bg-transparent">
        <h2 class="header mb-0">
          {{ this.character.name }}
          <button type="button" class="btn btn-s btn-h float-right" (click)="saveCharacter()">Save</button>
        </h2>

        <div class="card-body content">

          <div class="row">
            <!-- Name/Stats -->
            <div class="col-md-3 float-left text-center">
              <h4>Set Stats</h4>
              <hr class="stat mt-0" />
              <p class="text-light d-inline" *ngIf="(this.race | async) as race">{{ race.name }}</p>
              <p class="text-light d-inline" *ngIf="(this.class | async) as class">, {{ class.name }}</p>
              <br>
              <br>
              <p class="text-light" *ngFor="let stat of this.stats index as i">
                {{ stat }} {{ getStatValue(i) }} {{ getModValue(getStatValue(i)) }}
                <button type="button" class="btn btn-s btn-h btn-sm d-inline" (click)="setStatValue(-1, i)">-</button>
                <button type="button" class="btn btn-s btn-h btn-sm d-inline ml-1" (click)="setStatValue(1, i)">+</button>
              </p>
            </div>

            <!-- Equipment -->
            <div class="col-md-3">
              <app-equipment [character]="this.character" [newItem]="this.givenItem"></app-equipment>
            </div>

            <!-- Give Equip. -->
            <div class="col-md-6">
              <h4>Give Item</h4>
              <hr class="stat mt-0" />
              <label class="col-sm-4 col-form-lable text-light">Item (type):</label>
              <select class="custom-select col-sm-5" (change)="getListOfEquipment($event.target.value)" *ngIf="equipmentTypes && equipmentTypes.results">
                <option selected>Choose</option>
                <option *ngFor="let eq of equipmentTypes.results index as i" [value]="eq.url">{{ eq.name }}</option>
              </select>
              <br>
              <br>

              <div *ngIf="!this.slottedItem">
                <label class="col-sm-4 col-form-lable text-light">Item (item):</label>
                <select class="custom-select col-sm-5" (change)="getItem($event.target.value)" *ngIf="this.equipmentList && this.equipmentList.equipment">
                  <option selected>Choose</option>
                  <option *ngFor="let eq of this.equipmentList.equipment index as i" [value]="eq.url">{{ eq.name }}</option>
                </select>
              </div>

              <div *ngIf="this.slottedItem">
                <label class="col-sm-4 col-form-lable text-light">Item (item):</label>
                <select class="custom-select col-sm-5" (change)="getItem($event.target.value)" *ngIf="this.equipmentList && this.equipmentList.equipment">
                  <option selected>Choose</option>
                  <option *ngFor="let eq of this.equipmentList.equipment index as i" [value]="eq.url">{{ eq.name }}</option>
                </select>

                <label class="col-sm-4 col-form-lable text-light">Slot #:</label>
                <select class="custom-select col-sm-5" (change)="setItem(this.item, $event.target.value)" *ngIf="this.equipmentList && this.equipmentList.equipment">
                  <option selected>Choose</option>
                  <option value="1">Slot 1</option>
                  <option value="2">Slot 2</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>