<div class="container no-padding">
  <div class="row justify-content-between mt-5">

    <!-- List of owned games -->
    <div class="col-lg-5 mb-5 mb-lg-0 no-padding">
      <h2 class="header mb-0">Games</h2>
      <ul class="list-group static-size-list short">
        <li class="list-group-item content text-light selectable-item" (click)="loadGame(game)" *ngFor="let game of this.games | async">
          {{ game.name }}
        </li>
      </ul>
    </div>

    <div class="col-lg-5" *ngIf="this.game">
      <ngb-tabset class="customTabset" justify="fill">
        <!-- Characters -->
        <ngb-tab title="Characters">
          <ng-template ngbTabContent>
            <div class="col-12 no-padding">
              <ul class="list-group static-size-list short" *ngIf="this.game.character.length">
                <li class="list-group-item content text-light selectable-item" (click)="selectCharacter(character)" *ngFor="let character of this.game.character">
                  {{ character.name }}
                </li>
              </ul>
            </div>
          </ng-template>
        </ngb-tab>

        <!-- Monsters -->
        <ngb-tab title="Monsters">
          <ng-template ngbTabContent>
            <ul class="list-group static-size-list short">
              <li class="list-group-item content text-light selectable-item" (click)="selectMonster(null, true)">New Monster</li>
              <li class="list-group-item content text-light selectable-item" (click)="selectMonster(monster, false)" (mouseover)="this.mouseOver = i"
                (mouseout)="this.mouseOver = -1" *ngFor="let monster of this.monsters index as i">
                {{ monster.name }} HP: {{ monster.hp }}/{{ monster.max_HP }}
                <img [@showState]="this.mouseOver === i ? 'show' : 'hide'" class="icon icon-sm float-right" (click)="removeMonster(i, $event)"
                  placement="left" ngbTooltip="Delete Monster" src="assets/icons/x_icon.png">
              </li>
            </ul>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngIf="this.character">
      <app-edit-character [character]="this.character" (updatedCharacter)="saveCharacter($event)"></app-edit-character>
    </div>
    <div class="col-12" *ngIf="this.monster || this.createMonster">
      <app-create-monster [game]="this.game" [creatingMonster]="this.createMonster" [monster]="this.monster" (outputMonster)="getNewMonster($event)"
        (updateMonster)="updateMonster($event)" *ngIf="this.game"></app-create-monster>
    </div>
  </div>
</div>