.header {
    background: rgba(0,0,0,0.65);
}

.content {
    background: rgba(0, 0, 0, 0.50);
}

.btn-h:hover{
    background-color: #ffd553;
}

.selectable-item:hover {
    margin-left: 2%;
    color: #ffd553 !important; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
    cursor: pointer;
}

h1, h2 {
    text-align: center;
    color: #ffd553; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
}

:host ::ng-deep .customTabset a.nav-link {
    background-color: rgba(0,0,0,0.65);
    color: #f8f9fa;
}

:host ::ng-deep .customTabset a.nav-link.active {
    background-color: rgba(0, 0, 0, 0.35);
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
    color: #ffd553; /* gold */
}