<div class="container">
  <h4>
    Give Item
    <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/expand_button.png" placement="right" ngbTooltip="Hide"
      (click)="show = !show" *ngIf="show" />
    <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/shrink_button.png" placement="right" ngbTooltip="Show"
      (click)="show = !show" *ngIf="!show" />
  </h4>
  <hr class="stat mt-0" />

  <div *ngIf="show">
    <div class="col-md-12">
      <label class="col-sm-6 col-form-lable">Item (type):</label>
      <select class="custom-select col-sm-6" (change)="getListOfEquipment($event.target.value)" *ngIf="this.equipmentTypes && this.equipmentTypes.results">
        <option selected>Choose</option>
        <option *ngFor="let eq of this.equipmentTypes.results index as i" [value]="eq.url">{{ eq.name }}</option>
      </select>
    </div>

    <div class="col-md-12">
      <label class="col-sm-6 col-form-lable text-light">Item (item):</label>
      <select class="custom-select col-sm-6" (change)="getEquipmentItem($event.target.value)" *ngIf="this.equipmentList && this.equipmentList.equipment">
        <option selected>Choose</option>
        <option *ngFor="let eq of this.equipmentList.equipment index as i" [value]="eq.url">{{ eq.name }}</option>
      </select>
    </div>

    <div class="col-sm-12 text-left" *ngIf="this.equipmentList && this.equipmentList.equipment && this.character">
      Amount: {{ giveAmount }}
      <button type="button" class="btn btn-s btn-h btn-sm d-inline" (click)="changeAmountToGive(-1)">-</button>
      <button type="button" class="btn btn-s btn-h btn-sm d-inline ml-1" (click)="changeAmountToGive(1)">+</button>
    </div>
    <br>

    <div class="col-md-12 mb-5" *ngIf="this.users && this.users.length">
      <label class="col-sm-6 col-form-lable">Player:</label>
      <select class="custom-select col-sm-6" (change)="selectPlayer($event.target.value)" *ngIf="this.equipmentItem">
        <option selected>Choose</option>
        <option *ngFor="let member of this.users index as i" [value]="member.umd.id">{{ member.umd.name }}</option>
      </select>
    </div>

    <button type="button" class="btn btn-success float-right" (click)="giveItem()" [disabled]="!this.finished">Give Item</button>
  </div>
</div>