<div class="container" *ngIf="this.classes && this.classes.results && this.races && this.races.results && this.games">
  <div class="row">
    <div class="col-6 mt-5">
      <form>
        <!-- Name -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Name:</label>
          <div class="col-md-5">
            <input [value]="character.name" (input)="character.name = $event.target.value" type="text" class="form-control" placeholder="Name"
              [ngClass]="{ 'is-invalid': !character.name.length, 'is-valid': character.name.length }">
          </div>
        </div>

        <!-- Level -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Level:</label>
          <div class="col-md-5">
            <input [value]="this.level" (input)="this.level = $event.target.value" type="text" class="form-control" placeholder="Level"
              [ngClass]="{ 'is-invalid': !this.level, 'is-valid': this.level }">
          </div>
        </div>

        <!-- Race -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Race Type:</label>
          <select class="custom-select col-md-5" (change)="selectRace($event.target.value)">
            <!-->change)="selectRace(race.name, race.url)" -->
            <option selected>Choose</option>
            <option *ngFor="let race of this.races.results index as i" [value]="race.url">{{ race.name }}</option>
          </select>
        </div>

        <!-- Subrace -->
        <div class="form-group row" *ngIf="this.selectedRace">
          <label class="col-sm-4 col-form-lable">Race:</label>
          <select class="custom-select col-md-5" (change)="selectSubRace($event.target.value)">
            <!-->change)="selectRace(race.name, race.url)" -->
            <option selected>Choose</option>
            <option *ngFor="let race of this.selectedRace.subraces index as i" [value]="race.url">{{ race.name }}</option>
          </select>
        </div>

        <!-- Class -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Class:</label>
          <select class="custom-select col-md-5" (change)="selectClass($event.target.value)">
            <option selected>Choose</option>
            <option *ngFor="let class of this.classes.results index as i" [value]="class.url">{{ class.name }}</option>
          </select>
        </div>

        <!-- Game -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-lable">Game:</label>
          <select class="custom-select col-md-5" (change)="selectGame($event.target.value)">
            <option selected>Choose</option>
            <option *ngFor="let game of this.games index as i" [value]="i">{{ game.name }}</option>
          </select>
        </div>

        <!-- Stats -->
        <div class="form-group-row mt-2" *ngFor="let stat of this.rolls index as i">
          <label class="col-md-12 col-form-label float-left">{{ this.getStatString(i) }}</label>
        </div>
      </form>
      <button type="btn" class="btn btn-primary float-right mt-2" [disabled]="!canSubmitCharacter()" (click)="confirmCharacter()">Confirm</button>
    </div>

    <!-- Roll and stat assign panel -->
    <div class="col-md-6 mt-5 mb-5">
      <p *ngFor="let r of this.rolls index as i">
        Roll: {{ this.rollValue[i] }}
        <button type="button" class="btn btm-sm btn-primary ml-2" [disabled]="!canRollAgain(i)" (click)="rollStat(i)">{{ getRollString(i) }}</button>
        <button type="button" class="btn btm-sm btn-success ml-2" [disabled]="!canRollAgain(i) || this.rolls[i] <= 0" (click)="keepRoll(i)">Keep</button>
        <label class="col-sm-3 col-form-lable" *ngIf="!canRollAgain(i)">Assign Stat:</label>
        <select class="custom-select col-sm-4" (change)="assignStat($event.target.value, i)" *ngIf="!canRollAgain(i)">
          <option value="-1">Choose</option>
          <option *ngFor="let stat of this.stats index as j" [value]="j" [disabled]="this.keptRolls[j] > 0">{{ this.stats[j] }}</option>
        </select>
      </p>
    </div>
  </div>
</div>