<div class="row">

  <div class="col-md-6" *ngIf="simpleView">
    <ngb-tabset *ngIf="this.spellBook && this.spellBook.length">
      <ngb-tab *ngFor="let spellLevel of this.spellBook index as i" title="Level {{i}}">
        <ng-template ngbTabContent>
          <h3 class="text-center">
            Spells
            <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/expand_button_gold.png" placement="right" ngbTooltip="Hide"
              (click)="show = !show" *ngIf="show" />
            <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/shrink_button_gold.png" placement="right" ngbTooltip="Show"
              (click)="show = !show" *ngIf="!show" />
          </h3>
          <ul class="list-group static-size-list half-height" *ngIf="show">
            <li class="list-group-item" *ngFor="let spell of spellLevel.results index as j" (mouseover)="this.mouseOver = j" (mouseout)="this.mouseOver = -1">
              {{spell.name}}
              <button [@showState]="this.mouseOver === j ? 'show' : 'hide'" type="button" class="btn btn-secondary float-right" (click)="getSpellDetail(spell.url)">Details</button>
            </li>
          </ul>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="col-md-6" *ngIf="!simpleView">
    <h3 class="text-center">
      Spells
      <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/expand_button.png" placement="right" ngbTooltip="Hide"
        (click)="show = !show" *ngIf="show" />
      <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/shrink_button.png" placement="right" ngbTooltip="Show"
        (click)="show = !show" *ngIf="!show" />
    </h3>
    <ul class="list-group static-size-list half-height" *ngIf="show">
      <li class="list-group-item" *ngFor="let spell of simpleSpellBook index as i" (mouseover)="this.mouseOver = i" (mouseout)="this.mouseOver = -1">
        {{ spell.name }} (Level {{ spell.level }})
        <button [@showState]="this.mouseOver === i ? 'show' : 'hide'" type="button" class="btn btn-secondary float-right" (click)="getSpellDetail(spell.url)">Details</button>
      </li>
    </ul>
  </div>

  <div class="col-md-6" *ngIf="this.spellDetail">
    <div class="card w-100">
      <div class="card-body static-size-list half-height-with-some">
        <img class="icon icon-ex-sm float-left d-inline" (click)="dismissSpell()" placement="right" ngbTooltip="Close" src="assets/icons/x_icon.png">
        <h5 class="card-title text-center">{{spellDetail.name}}</h5>
        <p>Cast Time: {{spellDetail.casting_time}}</p>
        <p>Requires Concentration: {{spellDetail.concentration}}</p>
        <p>{{spellDetail.desc}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 text-center text-muted" *ngIf="!this.spellDetail">
    Select a spell
  </div>
</div>