.selectable-item:hover {
    margin-left: 2%;
    color: #ffd553 !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
    cursor: pointer;
}

.light-content {
    background: rgba(0, 0, 0, 0.35);
}

:host ::ng-deep .tabset1 a.nav-link {
    background-color: none;
    color: #f8f9fa !important
}

:host ::ng-deep .tabset1 a.nav-link.active {
    background-color: rgba(0, 0, 0, 0.35);
}