<ngb-alert class="text-center" type="danger" (close)="this.invalidLogin = false" *ngIf="this.invalidLogin">Invalid username/password</ngb-alert>
<ngb-alert class="text-center" type="danger" (close)='this.createUsername = ""; this.usernameTaken = false' *ngIf="this.usernameTaken">Username is already in use</ngb-alert>

<div class="container" *ngIf="!this._storage.getValue('loggedIn')">
  <div class="row mt-5">

    <!-- Sign in -->
    <div class="col-lg-6 text-center mx-auto my-auto content dark-border" *ngIf="!this.createUser">
      <h4>Sign In</h4>
      <form class="form-signin was-validated">
        <input [value]="username" (input)="username = $event.target.value" type="text" class="form-control" id="inputEmail3" placeholder="Username"
          required autofocus>
        <input [value]="password" (input)="password = $event.target.value" type="password" class="form-control" id="inputPassword3"
          placeholder="Password" (ngEnter)="loginClicked($event)" required>
        <button class="btn btn-lg btn-s btn-h btn-block" type="button" (click)="loginClicked()" [disabled]="!allFieldsFilled()">Sign In</button>
        <label class="checkbox pull-left text-light">
          <input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe">Remember me</label>
      </form>
      <h6 class="selectable-item text-light" (click)="createUserClicked()">Create An Account</h6>
    </div>

    <!-- Creating an account -->
    <div class="col-lg-6 mx-auto my-auto content dark-border text-light" *ngIf="!this._storage.getValue('loggedIn') && this.createUser">
      <h4>Create Account</h4>
      <form>
        <div class="form-group row justify-content-center">
          <label class="col-3 col-lg-2 col-form-label">Username:</label>
          <div class="col-9">
            <input [value]="createUsername" (input)="createUsername = $event.target.value" type="text" class="form-control" id="inputUsername"
              placeholder="Username" (focusout)="validateUsername()" [ngClass]="{ 'is-invalid': usernameTaken || !createUsername.length, 'is-valid': !usernameTaken && createUsername.length }"
              required>
            <small id="usernameHelpBlock" class="form-text text-muted" *ngIf="!usernameTaken && hasClickedOff">Username is available!</small>
          </div>
        </div>

        <div class="form-group row is-valid justify-content-center">
          <label class="col-3 col-lg-2 col-form-label">Password:</label>
          <div class="col-9">
            <input [value]="createPassword" (input)="createPassword = $event.target.value" type="password" class="form-control" id="inputPassword"
              placeholder="Password" [ngClass]="{ 'is-invalid': !passwordsMatch(), 'is-valid': passwordsMatch() }" required>
          </div>
        </div>

        <div class="form-group row is-valid justify-content-center">
          <label class="col-3 col-lg-2 col-form-label">Confirm Password:</label>
          <div class="col-9">
            <input [value]="createPasswordConfirm" (input)="createPasswordConfirm = $event.target.value" type="password" class="form-control"
              id="inputCPassword" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': !passwordsMatch(), 'is-valid': passwordsMatch() }"
              required>
            <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="!passwordsMatch()">*Passwords must match</small>
          </div>
        </div>
      </form>

      <button type="button" class="btn btn-primary btn-block" (click)="createAccount()" [disabled]="!allFieldsFilled()">Create Account</button>
      <button class="btn btn-link text-center new-account mx-auto" type="button" (click)="this.createUser = !this.createUser">Cancel</button>
    </div>
  </div>
</div>