
  h1, h2, h4 {
    text-align: center;
    color: #ffd553; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
  }
  
  .header {
    background: rgba(0,0,0,0.65);
  }
  
  .content {
    background: rgba(0, 0, 0, 0.50);
  }