<div class="container">
  <div class="row">

    <!-- Viewing a game -->
    <div class="col-md-4 mt-5">
      <h2 class="header mb-0">Current Games</h2>
      <ul class="list-group list-group-flush static-size half-height">
        <li class="list-group-item list-group-item-action text-light content game" *ngFor="let game of this.games index as i" (click)="loadGame(game)">
          {{ i+1 }}. {{ game.name }}
        </li>
      </ul>
      <div class="fillSpace fillColor">
          <button type="button" class="btn float-right" (click)="createGame()">New Game</button>
      </div>
    </div>

    <div class="col mt-5">
      <!-- Creating a new game -->
      <div *ngIf="this.creatingGame">
        <form>
          <div class="input-group-prepend">
            <label class="input-group-text">Game Name:</label>
            <input [value]="gameName" (input)="gameName = $event.target.value" type="text" class="form-control text-light header" placeholder="Game name"
              (input)="validateGamename($event.target.value)" [ngClass]="{ 'is-invalid': gamenameTaken || !gameName.length, 'is-valid': !gamenameTaken && gameName.length }">
          </div>
          <div class="fillSpace">
              <button type="button" class="btn float-right" (click)="saveNewGame()" [disabled]="gamenameTaken || !gameName.length">Create Game</button>
          </div>
          <div>
              <small id="usernameHelpBlock" class="form-text text-dark float-right" *ngIf="gameName.length">{{!gamenameTaken ? "Game name is available!" : "Game name is taken."}}</small>
          </div>
        </form>
      </div>

      <!-- Viewing a game -->
      <div *ngIf="this.selectedGame">
        <h2 class="card-header header text-center"> 
          {{ this.selectedGame.name }}
          <img class="icon icon-sm-med float-right" (click)="confirmDeleteGame(confirm)" placement="right" ngbTooltip="delete" src="assets/icons/white_delete_icon.png"
              *ngIf="this.selectedGame.userId === this.user.userId">
        </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item content text-light game" *ngFor="let character of this.selectedGame.character index as i" (click)="loadCharacterDetails(i, content)">
            {{ character.name }}
          </li>
          <li class="list-group-item content text-light" *ngIf="!this.selectedGame.character.length">No players, try adding one!</li>
        </ul>
        <div class="fillSpace fillColor">
            <button type="button" class="btn float-right" (click)="joinGame()" *ngIf="this.selectedGame.character.length">Join Game</button>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ this.characterDetail.name }}</h4>
  </div>

  <div class="modal-body">
    <div *ngIf="this.classDetail">

      <body>Class: {{this.classDetail.name}}</body>
    </div>
    <div *ngIf="this.raceDetail">

      <body>Race: {{this.raceDetail.name}}</body>
    </div>

    <body>Level: {{this.characterDetail.level}}</body>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c()">Close</button>
  </div>
</ng-template>

<ng-template #confirm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>

  <div class="modal-body">

    <body>Are you sure you want to the game delete:
      <b>{{ this.selectedGame.name }}?</b>
    </body>

    <body class="text-muted">This action cannot be undone</body>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger"  (click)="d()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="c()">Confim</button>
  </div>
</ng-template>