<div class="container">

  <div class="content" [ngClass]="this.hidden ? 'chatbox-hidden' : 'chatbox-show'">
    <div class="row">
      <div class="col-12">
        <div class="header">
          <h1 class="float-left">Messages</h1>
          <button type="button" class="btn btn-s btn-sm float-right" (click)="this.hidden = !this.hidden">{{ this.hidden ? 'Show' : 'Hide' }}</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 border border-bottom-0 border-left-0 border-right-0">
        <div class="chatbody" *ngIf="!this.hidden">
          <div #chatMessageBox class="messages">
            <ul class="w-100 no-padding list-group" *ngIf="this.chatMessages && this.chatMessages.length">
              <li [ngClass]="this.isUsersMessage(msg) ? 'message-self align-self-end mr-2' : 'message-other'" class="message list-group-item bg-transparent"
                *ngFor="let msg of this.chatMessages index as i">
                <p [ngClass]="getMessageColor(msg)" *ngIf="isUsersMessage(msg)">{{ msg.message }}</p>
                <p [ngClass]="getMessageColor(msg)" *ngIf="!isUsersMessage(msg)"><b>{{ msg.username }}: </b>{{ msg.message }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!this.hidden">
      <div class="col-12 align-self-end">
        <div class="message-input input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">{{ this.sendTo }}:</span>
          </div>
          <input (ngEnter)="this.sendMessage($event)" type="text" class="form-control" [value]="this.message" (input)="this.message = $event.target.value"
            placeholder="Message">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>