.class-img {
    object-fit: contain;
    width: auto;
    height: 200px;
}

.static-size-list{
    overflow-y: scroll;
}

.half-height{
    max-height: 35vh;
}

.half-height-with-some {
    max-height: 40vh;
}

.three-fourth-height {
    max-height: 70vh;
}

::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

.tall {
    height: 100%;
}