<div class="container-fluid">
  <div class="row">
    <div class="card w-100 bg-transparent">
      <div class="card-header text-center header text-light">
        {{ this.character.name }} ({{ this.user.username }})
        <button type="button" class="btn btn-success float-right" [routerLink]="['/game']">Leave</button>
      </div>
      <div class="card-body content text-light">
        <div class="row">
          <!-- Rolling info -->
          <!-- Roll -->
          <div [ngClass]="this.levelDetail && this.levelDetail.spellcasting ? 'col-lg-3' : 'col-lg-4'">
            <app-roll (rollOutput)="rollDice($event)"></app-roll>
          </div>

          <div class="text-center" [ngClass]="this.levelDetail && this.levelDetail.spellcasting ? 'col-lg-2' : 'col-lg-3'">
            <app-stats [character]="character"></app-stats>
          </div>

          <div [ngClass]="this.levelDetail && this.levelDetail.spellcasting ? 'col-lg-7' : 'col-lg-5'">
            <div class="row">

              <!-- Item info -->
              <div class="float-right" [ngClass]="this.levelDetail && this.levelDetail.spellcasting ? 'col-sm-8' : 'col-sm-12'" *ngIf="this.character">
                <app-equipment [character]="character"></app-equipment>
              </div>

              <!-- Spell Info -->
              <div class="col-sm-3 float-right no-padding" *ngIf="this.levelDetail && this.levelDetail.spellcasting">
                <h4 class="text-center">Spell Info</h4>
                <hr class="stat mt-0">
                <ul class="list-group list-group-flush static-size-list spell-list" *ngIf="this.spellSlots">
                  <li class="list-group-item text-light content">
                    Cantrips: {{levelDetail.spellcasting.cantrips_known}}
                    <button type="button" class="btn btn-success btn-sm float-right" (click)="openSpellBook(content)">Spell Book</button>
                  </li>
                  <li class="list-group-item text-light content" *ngFor="let spellSlot of this.spellSlots index as i">
                    Level {{i+1}} Spells: {{spellSlot}}
                    <button type="button" class="btn btn-secondary float-right" (click)="castSpell(i)" [disabled]="spellSlot <=0">Cast</button>
                  </li>
                </ul>
              </div>
              <!-- ^^ End of spell info-->
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer header">
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title text-center">{{this.classDetail.name}} Spell Book</h5>
  </div>
  <div class="modal-body">
    <app-spellbook [cd]="this.classDetail"></app-spellbook>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success col-2" (click)="d()">Close</button>
  </div>
</ng-template>