::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

.spell-list {
    max-height: 15rem;
}

.btn-h:hover{
    background-color: #ffd553;
}

.dark-border {
    border: 2px solid black;
    border-radius: 5px;
}