<ng-progress [thick]="true" color="red" [spinner]="false"></ng-progress>

<nav class="navbar sticky-top navbar-expand-md header navbar-dark">
  <div class="nav-item">
    <a class="nav-link text-light font-weight-bold text-hover" [routerLink]="['/home']">Dnd Buddy</a>
  </div>

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent"
    [attr.aria-expanded]="isNavbarCollapsed" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="this.isLoggedIn()">
    <!-- Inside navbar content here -->
    <div class="nav-item">
      <div ngbDropdown placement="bottom-left">
        <div class="text-light text-hover" ngbDropdownToggle>Manage</div>
        <div ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/manageCharacter']">Player Portal</a>
          <a class="dropdown-item" [routerLink]="['/dmPortal']">DM Portal</a>
        </div>
      </div>
    </div>
    <div class="nav-item pl-md-3">
      <div ngbDropdown placement="bottom-left">
        <div class="text-light text-hover" ngbDropdownToggle>Create</div>
        <div ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/createCharacter']">Create Character</a>
          <a class="dropdown-item" [routerLink]="['/characterRaceDetails']">Classes and Races</a>
        </div>
      </div>
    </div>
    <div class="nav-item">
      <a class="nav-link text-light text-hover" [routerLink]="['/game']">Games</a>
    </div>

  </div>

  <!-- Content always outside of the collapse -->
  <div class="nav-item ml-auto no-padding" style="margin: 0" *ngIf="this.isLoggedIn()">
    <div ngbDropdown placement="bottom-right" *ngIf="this.getUser()">
      <h6 class="font-weight-bold text-light text-hover" ngbDropdownToggle>{{ this.getUser().username }}</h6>
      <div ngbDropdownMenu>
        <button class="dropdown-item" [routerLink]="['/profile']" [disabled]="true">Profile</button>
        <button class="dropdown-item " [routerLink]="['/login']" (click)="this.logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-snackbar></app-snackbar>
</div>