<ng-progress [thick]="true" color="red" [spinner]="false"></ng-progress>

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="nav-item">
      <!-- <h4 class="font-weight-bold text-light d-inline nav-link">Dnd Buddy</h4> -->
      <a class="nav-link text-light font-weight-bold" [routerLink]="['/home']">Dnd Buddy</a>
    </div>

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent"
    [attr.aria-expanded]="isNavbarCollapsed" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Inside navbar content here -->
    <div class="nav-item">
      <a class="nav-link text-light" [routerLink]="['/game']">Games</a>
    </div>
    <!--<div ngbDropdown class="nav-item d-inline-block text-light">
      <div ngbDropdownToggle>Character</div>
      <div ngbDropdownMenu>
        <a class="dropdown-item disabled" [routerLink]="['/createCharacter']">Create Character</a>
        <a class="dropdown-item disabled" [routerLink]="['/viewCharacters']">View Characters</a>
      </div>-->
      <!-- <a class="nav-link text-light" [routerLink]="['/createCharacter']">Create Character</a> 
    </div>-->
  </div>

  <!-- Content always outside of the collapse -->
  <div class="nav-item ml-auto no-padding" style="margin: 0" *ngIf="this.isLoggedIn()">
    <div ngbDropdown placement="bottom-right" *ngIf="this.getUser()">
      <h6 class="font-weight-bold text-light" ngbDropdownToggle>{{ this.getUser().username }}</h6>
      <div ngbDropdownMenu>
        <!--<button class="dropdown-item" [routerLink]="['/profile']">Profile</button>
        <button class="dropdown-item" [routerLink]="['/characters']">Characters</button>-->
        <button class="dropdown-item " [routerLink]="['/login']" (click)="this.logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>