::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

html {overflow: -moz-scrollbars-none;}

.static-size-list{
    overflow-y: scroll;
}

.ex-short{
    max-height: 5rem;
}

.short{
    max-height: 10rem;
}

.short-med {
    max-height: 15rem;
}

.half-height{
    max-height: 20rem;
}

.half-height-with-some {
    max-height: 35rem;
}

.three-fourth-height {
    max-height: 70vh;
}

.margin-top{
    margin-top: 3%;
}

.no-padding{
    padding: 0;
}

.shadow{
    box-shadow:         3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

.btn-s {
    background: #c4bfbf
}

.btn-h:hover{
    background-color: #ffd553;
}

.detailButton {
    width: 100%;
    background-color:rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    margin: 2px;
}

 .detailButton:hover {
    background-color: #ffd553;
    color: black;
}

#snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

.stat {
    color: #ffd553 !important; /* gold */
}

.dark-border {
    border: 2px solid black;
    border-radius: 5px;
}

.header {
    background: rgba(0,0,0,0.65);
}

.content {
    background: rgba(0, 0, 0, 0.50);
}

.light-content {
    background: rgba(0, 0, 0, 0.35);
}

h1:not(.title), h2, h4 {
    text-align: center;
    color: #ffd553; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
}

hr { 
    border: 0; 
    height: 30px; 
    border-style: solid; 
    border-color: #ffd553; 
    border-width: 1px 0 0 0; 
    border-radius: 20px;
    margin-top: 12%; 
    margin-bottom: 0px;
} 

hr:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #ffd553; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
}

.selectable-item:hover {
    margin-left: 2%;
    color: #ffd553 !important; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
    cursor: pointer;
}

.img-sm{
    width: 16px;
    height: 16px
}

.img-left{
    float: left;
}

.img-right{
    float: right;
}

img#playlist-img{
    width: 75px;
}

.icon{
    display: inline;
}

.icon:hover{
    cursor: pointer;
}

.icon-middle{
    vertical-align: middle;
}

.icon-ex-sm{
    width: 17px;
}

.icon-sm{
    width: 20px;
}

.icon-sm-med {
    width: 25px;
}

.icon-med{
    width: 30px;
}

.icon-lrg{
    width: 35px;
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 150%;
        width: 150%; 
    }
  
    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein-left {
    from {
        opacity: 0;
        margin-left: -150%;
        width: 150%; 
    }
  
    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideout {
    from {
        display: block;
        opacity: 1;
        width: 100%;
    }
  
    to {
        display: none;
        opacity: 0;
        width: 0%;
    }
}

.panel {
    animation-fill-mode: forwards;
    animation-name: slidein;
    animation-duration: 0.45s;
}

.panel-left {
    animation-fill-mode: forwards;
    animation-name: slidein-left;
    animation-duration: 0.45s;
}

.panel.panelHide {
    animation-name: slideout;
    animation-duration: 1.5s;
}