::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

.header {
    background: rgba(0,0,0,0.65);
}

.content {
    background: rgba(0, 0, 0, 0.50);
}

h1, h2 {
    text-align: center;
    color: #ffd553; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
}

#addIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 55%;
}

#addIcon:hover {
    background-color: #ffd553;
}

.sm-padding {
    padding: 2%
}

.character:hover {
    margin-left: 2%;
    color: #ffd553 !important; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
}

.fillSpace {
    overflow: auto;
}

.fillColor {
    background-color: #6b6b6b;
}

.btn-s:hover{
    background-color: #ffd553;
}