<div class="container-fluid mt-3" *ngIf="this.hasJoined">
  <!-- If we are the GM put us in the middle of the screen-->
  <div class="row" *ngIf="this.isGM">
    <div class="col-md-12 mx-auto">
      <play-dm></play-dm>
    </div>
  </div>
  <!-- Put our character in the middle of the screen-->
  <div class="row" *ngIf="!this.isGM && this.character">
    <div class="col-md-12 mx-auto">
      <play-player [character]="this.character" (updateCharacter)="updateCharacter($event)"></play-player>
    </div>
  </div>
  <div class="row mt-4 justify-content-around">
    <!-- Grid -->
    <div class="col-12" *ngIf="!this.gridHidden">
      <table class="table table-sm text-center">
        <tbody id="board">
          <tr class="boardRow" *ngFor="let gridY of this._messageService.grid index as y">
            <td *ngFor="let gridX of gridY index as x" class="{{ this.getGridValue(x, y).type }} border boardCell text-center"
              (click)="this.placeToken(x, y)">
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-around">
    <!-- Selection -->
    <div class="text-center col-md-6" *ngIf="this.isGM && !this.gridHidden">
      <label class="col-md-2">Put:</label>
      <select class="custom-select col-md-6" (change)="this.token = $event.target.value">
        <option selected value="N">Empty</option>
        <option value="R">Red</option>
        <option value="Y">Yellow</option>
        <option value="O">Orange</option>
        <option value="G">Green</option>
        <option value="B">Blue</option>
        <option value="P">Purple</option>
        <option value="D">Brown</option>
      </select>
    </div>

    <div class="col-md-12" *ngIf="!this.isGM">
      <button type="button" class="btn btn-success btn-sm float-right" (click)="this.gridHidden = true" *ngIf="!this.gridHidden">Hide Grid</button>
      <button type="button" class="btn btn-success btn-sm float-right" (click)="this.gridHidden = false" *ngIf="this.gridHidden">Show Grid</button>
    </div>

    <div [ngClass]="this.gridHidden ? 'col-md-12' : 'col-md-6'" *ngIf="this.isGM">
      <button type="button" class="btn btn-success btn-sm float-right" (click)="this.gridHidden = true" *ngIf="!this.gridHidden">Hide Grid</button>
      <button type="button" class="btn btn-success btn-sm float-right" (click)="this.gridHidden = false" *ngIf="this.gridHidden">Show Grid</button>
      <button type="button" class="btn btn-danger btn-sm float-right" (click)="resetGrid()" *ngIf="this.isGM">Reset Grid</button>
    </div>

    <!-- <div class="col-6 text-right" *ngIf="!this.isGm">
      <button type="button" class="btn btn-success btn-sm" (click)="this.gridHidden = true" *ngIf="!this.gridHidden">Hide Grid</button>
      <button type="button" class="btn btn-success btn-sm" (click)="this.gridHidden = false" id="notGM" *ngIf="this.gridHidden">Show Grid</button>
    </div> -->

  </div>
  <div class="row mx-auto justify-content-around">
    <!-- Put everyone else at the bottom of the screen (maybe need row tag first?)-->
    <div class="card-deck mt-3 mb-5" *ngIf="this._messageService.groupMembers.length > 1">
      <div class="card bg-transparent text-light" *ngFor="let member of this.getOtherGroupMembers() index as i">
        <div class="card-header text-center header">{{ member.umd.name }}</div>
        <div class="card-body content">
          <p class="card-text" *ngIf="member.rmd">Value Rolled: {{ member.rmd.roll}} ({{ member.rmd.numDice }}D{{ member.rmd.maxRoll }})</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-play-chat class="d-none d-md-block"></app-play-chat> -->
</div>