@media only screen /* Mobile */
and (max-width: 480px) {
    #board {
        width: 100%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    .boardRow {
        width: 100%;
        height: 50px;
    }
    
    .boardCell {
        width: 9%;
        height: 50px;
        float: left;
        padding:1px;
        display:block;
        border-radius: 10px;
    } 
}

@media only screen /* PC */
and (min-width: 481px){
    .table {
        margin: 0 auto !important;
        width: 75%;
    }

    #board {
        width: 100%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    .boardRow {
        width: 100%;
        height: 50px;
    }
    
    .boardCell {
        width: 10%;
        height: 50px;
        float: left;
        padding:1px;
        display:block;
        border-radius: 10px;
    }
}

.R {
    background-color: red !important;
}

.Y {
    background-color: yellow !important;
}

.O {
    background-color: orange !important;
}

.G {
    background-color: green !important;
}

.B {
    background-color: blue !important;
}

.P {
    background-color: purple !important;
}

.D {
    background-color: burlywood !important;
}

.Z {
    background-color: none !important;
}

.tileObject {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}