::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

@media only screen /* Mobile */
and (max-width: 480px) {
    #board {
        width: 100%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    .boardRow {
        width: 100%;
        height: 50px;
    }
    
    .boardCell {
        width: 9%;
        height: 50px;
        float: left;
        padding:1px;
        display:block;
        border-radius: 10px;
    } 
}

@media only screen /* PC */
and (min-width: 481px){
    .table {
        margin: 0 auto !important;
        width: 75%;
    }

    #board {
        width: 100%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    .boardRow {
        width: 100%;
        height: 50px;
    }
    
    .boardCell {
        width: 10%;
        height: 50px;
        float: left;
        padding:1px;
        display:block;
        border-radius: 10px;
    }
}

.P {
    background-color: greenYellow !important;
}

.E {
    background-color: red !important;
}

.N {
    background-color: none !important;
}

.W {
    background-color: black !important;
}

.tileObject {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}