<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
  crossorigin="anonymous">
<div class="container-fluid" *ngIf="this.classes && this.classes.results && this.races && this.races.results">
  <div class="row">
    <div class="col-md-6 mt-3">
      <!-- Tab links -->
      <div class="header tab">
        <button class="fas fa-angle-left tablinks" *ngIf="this.subMenuActive" (click)="this.subMenuActive = false;"></button>
        <button class="float-right tablinks" [class.active]="!this.raceTabActive" (click)="openTab('classes')">Classes</button>
        <button class="float-right tablinks" [class.active]="this.raceTabActive" (click)="openTab('races')">Races</button>
      </div>
      <!-- Tab content -->
      <!-- Races -->
      <div id="raceTab" [class.hide]="!this.raceTabActive" style="background: rgb(155, 153, 153)">
        <div id="Races" [class.panelHide]="this.subMenuActive" class="panel tabcontent" *ngIf="!subMenuActive">
          <ul class="list-group list-group-flush half-height static-size-list" *ngIf="this.races.count">
            <li class="list-group-item" (mouseover)="this.mouseOverRace = i" (mouseout)="this.mouseOverRace = -1" *ngFor="let subR of this.races.results index as i"
              (click)="changeSubRace(this.mouseOverRace + 1);this.subMenuActive = !this.subMenuActive;"> {{ subR.name }}
              <i class="float-right fas fa-angle-right"></i>
            </li>
          </ul>
        </div>

        <div [class.hide]="!this.subMenuActive" id="subraces" *ngIf="subMenuActive">
          <ul class="list-group list-group-flush half-height static-size-list" *ngIf="this.raceDetail">
            <li class="list-group-item" (mouseover)="this.mouseOverRace = i" (mouseout)="this.mouseOverRace = -1" *ngFor="let subR of this.raceDetail.subraces index as i">
              {{ subR.name }}
              <button [@showState]="this.mouseOverRace === i ? 'show' : 'hide'" type="button" class="btn btn-secondary btn-sm float-right"
                (click)="getSubrace(subR.url)">Details</button>
            </li>
          </ul>
        </div>

      </div>

      <!-- Classes -->
      <div id="classTab" [class.hide]="this.raceTabActive" class="panel tabcontent">
        <ul class="list-group list-group-flush half-height static-size-list" *ngIf="this.classes.count">
          <li class="list-group-item" (mouseover)="this.mouseOverClass = i" (mouseout)="this.mouseOverClass = -1" *ngFor="let class of this.classes.results index as i"
            (click)="getClassDetails(class.url)"> {{ class.name }}
            <i class="float-right fas fa-angle-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <!-- ^^End of race/class tabs -->

    <!-- Class/Race Details -->
    <div class="col-md-6 mt-3">
      <!-- Race Detail -->
      <div class="col-md-12" *ngIf="this.subrace">
        <div class="card w-100">
          <!--<img class="card-img-top mc-auto class-img" [src]="getRaceImage(this.subrace.name)">-->
          <div class="card-header text-center header stat">
            {{ this.subrace.name }}
            <button type="button" class="btn btn-secondary btn-sm float-right" (click)="this.subrace = null">Clear</button>
          </div>
          <div class="card-body content">
            <p>{{ this.subrace.desc }}</p>
            <p>
              <b>Ability Bonuses: </b>{{ fixAbilityBonuses(this.subrace.ability_bonuses) }}</p>
            <p>
              <b>Age: </b>{{ this.subrace.age }}</p>
            <p>
              <b>Alignment: </b>{{ this.subrace.alignment }}</p>
            <p>
              <b>Preferred Class(es): </b>{{ this.subrace.preferred_class }}</p>
            <p>
              <b>Size: </b>{{ this.subrace.size }}</p>
            <p>
              <b>Speed: </b>{{ this.subrace.speed }}</p>

            <button (click)="toggleLanguageList();" class="detailButton">Languages
              <span class="float-right glyphicon glyphicon-menu-down"></span>
            </button>
            <div id="languageList" class="detailList" [class.hide]="!this.languageListActive">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let lang of this.subrace.languages">
                  {{ lang.name }}
                </li>
              </ul>
            </div>

            <button (click)="toggleTraitsList();" class="detailButton">Traits
              <span class="float-right glyphicon glyphicon-menu-down"></span>
            </button>
            <div id="traitsList" class="detailList" [class.hide]="!this.traitsListActive">
              <ul class="list-group list-group-flush static-size-list short">
                <li class="list-group-item" (mouseover)="this.mouseOverTrait = i" (mouseout)="this.mouseOverTrait = -1" *ngFor="let trait of this.subrace.racial_traits index as i">
                  {{ trait.name }}
                  <button [@showState]="this.mouseOverTrait === i ? 'show' : 'hide'" type="button" class="btn btn-secondary btn-sm float-right"
                    (click)="getTraitDetails(trait.url, content)">Details</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ^^End of race detail -->

      <!-- Class Detail -->
      <div class="col-md-12" *ngIf="this.classDetail">
        <div class="card bg-transparent border-0">
          <img class="card-img-top mc-auto class-img" [src]="getClassImage(this.classDetail.name)">
          <div class="card-header text-center header stat">
            {{ this.classDetail.name }}
            <button type="button" class="btn btn-secondary btn-sm float-right" (click)="this.classDetail = null">Clear</button>
          </div>
          <div class="card-body content">
            <p class="text-center">
              <b>Hit Die: </b>{{ this.classDetail.hit_die }}</p>

            <button (click)="toggleProficiencyChoiceList();" class="detailButton">Proficiency Choices |
              <strong>Choose {{this.classDetail.proficiency_choices[0].choose }}</strong>
              <span class="float-right glyphicon glyphicon-menu-down"></span>
            </button>
            <div id="proficiencyChoiceList" class="detailList" [class.hide]="!this.proficiencyChoiceListActive">
              <ul class="list-group list-group-flush static-size-list half-height">
                <li class="list-group-item" *ngFor="let prof of this.classDetail.proficiency_choices[0].from">
                  {{ prof.name }}
                </li>
              </ul>
            </div>

            <button (click)="toggleProficiencyList();" class="detailButton">Proficiencies
              <span class="float-right glyphicon glyphicon-menu-down"></span>
            </button>
            <div id="proficiencyList" class="detailList" [class.hide]="!this.proficiencyListActive">
              <ul class="list-group list-group-flush static-size-list half-height">
                <li class="list-group-item" *ngFor="let prof of this.classDetail.proficiencies">
                  {{ prof.name }}
                </li>
              </ul>
            </div>

            <button (click)="toggleSavingThrowsList();" class="detailButton">Saving Throws
              <span class="float-right glyphicon glyphicon-menu-down"></span>
            </button>
            <div id="savingThrowsList" class="detailList" [class.hide]="!this.savingThrowsListActive">
              <ul class="list-group list-group-flush static-size-list half-height">
                <li class="list-group-item" *ngFor="let save of this.classDetail.saving_throws">
                  {{ save.name }}
                </li>
              </ul>
            </div>

            <button (click)="toggleSubClassesList();" class="detailButton">Subclasses
              <span class="float-right glyphicon glyphicon-menu-down"></span>
            </button>
            <div id="subclassesList" class="detailList" [class.hide]="!this.subclassesListActive">
              <ul class="list-group list-group-flush static-size-list half-height">
                <li class="list-group-item" *ngFor="let subc of this.classDetail.subclasses">
                  {{ subc.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ^^End of row -->
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header text-center header">
    <h4 class="modal-title text-center">{{ this.trait.name }}</h4>
  </div>

  <div class="modal-body content">
    {{ this.trait.desc }}
  </div>

  <div class="header modal-footer">
    <button type="button" class="btn btn-secondary col-2" (click)="c()">Close</button>
  </div>
</ng-template>