<div class="container" *ngIf="this.user">
  <div class="row content dark-border mt-5">
    <div class="col-12 text-center">
      <h2>Profile Info</h2>
      <hr class="stat mt-0" />
    </div>

    <div class="col-12 text-light">
      <form>
        <div class="form-group row justify-content-center">
          <label class="col-3 col-lg-2 col-form-label">Username:</label>
          <div class="col-9 col-lg-3">
            <input type="text" class="form-control" [value]="this.user.username" (input)="this.user.username = $event.target.value">
          </div>
        </div>

        <div class="form-group row is-valid justify-content-center">
          <label class="col-3 col-lg-2 col-form-label">Password:</label>
          <div class="col-9 col-lg-3">
            <input type="password" class="form-control" [value]="this.password" (input)="this.password = $event.target.value" placeholder="Password"
              [ngClass]="{ 'is-invalid': !passwordsMatch(), 'is-valid': passwordsMatch() }">
          </div>
        </div>

        <div class="form-group row is-valid justify-content-center">
          <label class="col-3 col-lg-2 col-form-label">Confirm Password:</label>
          <div class="col-9 col-lg-3">
            <input type="password" class="form-control" [value]="this.confirmPassword" (input)="this.confirmPassword = $event.target.value"
              placeholder="Confirm Password" [ngClass]="{ 'is-invalid': !passwordsMatch(), 'is-valid': passwordsMatch() }">
            <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="!passwordsMatch()">*Passwords must match</small>
          </div>
        </div>
      </form>

      <div class="row justify-content-center">
        <button type="button" class="btn btn-sm btn-danger float-left" (click)="confirmDeleteCharacter(content)">Delete</button>
        <button type="button" class="btn btn-s btn-a btn-sm ml-3" (click)="cancelChanges()">Cancel</button>
        <button type="button" class="btn btn-s btn-sm ml-3" [ngClass]="madeChanges() ? 'btn-a' : ''" (click)="saveUser()" [disabled]="!madeChanges()">Save</button>
      </div>
    </div>

  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header header">
      <h4 class="modal-title">Confirmation</h4>
    </div>
  
    <div class="modal-body content">
  
      <body class="bg-transparent text-light">
        Are you sure you want to <strong>delete</strong> your profile?
      </body>
  
      <small class="text-light">*This action cannot be undone</small>
    </div>
  
    <div class="modal-footer content">
      <button type="button" class="btn btn-sm btn-danger" (click)="d()">Cancel</button>
      <button type="button" class="btn btn-sm btn-success" (click)="c()">Confim</button>
    </div>
  </ng-template>