.header {
    background: rgba(0,0,0,0.65);
}

.content {
    background: rgba(0, 0, 0, 0.50);
}

h1, h2 {
    text-align: center;
    color: #ffd553; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
}

#addIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 55%;
}

#addIcon:hover {
    background-color: #ffd553;
}

.sm-padding {
    padding: 2%
}

.character:hover {
    margin-left: 2%;
    color: #ffd553; /* gold */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.4em black;
}

.stat {
    color: #ffd553; /* gold */
}

hr { 
  border: 0; 
  height: 30px; 
  border-style: solid; 
  border-color: #ffd553; 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
  margin-top: 12%; 
  margin-bottom: 0px;
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #ffd553; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}