<div class="container">
  <div class="row mt-5">

    <!-- Character List -->
    <div class="col-md-5 mb-5">
      <div class="card w-100">
        <div class="card-header header">
          <h1>Characters</h1>
          
        </div>
        <ul class="list-group list-group-flush static-size half-height" *ngIf="this.characters.length">
          <li class="list-group-item list-group-item-action content character" (click)="getCharacterDetails(character)" (mouseover)="this.mouseOver = i"
            (mouseout)="this.mouseOver = -1" *ngFor="let character of this.characters index as i">
            {{ character.name }}
            <img [@showState]="this.mouseOver === i ? 'show' : 'hide'" class="icon icon-sm float-right" (click)="confirmDeleteCharacter(content, $event, character)"
              placement="right" ngbTooltip="Delete Character" src="assets/icons/x_icon.png">
          </li>
        </ul>
        <div class="card-body content text-center" *ngIf="!this.characters.length">No Characters</div>
        <div class="header sm-padding"><img id="addIcon" class="icon" [routerLink]="['/createCharacter']" placement="right" ngbTooltip="Create Character"
          src="assets/icons/create_icon.png"></div>
      </div>
    </div>

    <!-- Character detail -->
    <div class="col-md-6" *ngIf="this.selectedCharacter && this.raceDetail && this.classDetail">
      <div class="card w-100">
        <div class="card-header text-center header">
          <span class="stat"><strong>{{ this.selectedCharacter.name }}:</strong>
          <em> Level {{ this.selectedCharacter.level }}, {{ this.raceDetail.name }} {{ this.classDetail.name }}</em></span>
          <img class="icon icon-sm float-right" (click)="this.selectedCharacter = null" placement="right" ngbTooltip="Close" src="assets/icons/x_icon.png">
        </div>

        <div class="card-body content">
          <div class="col-md-4 float-left">
            <div class="card-text text-left stat">STR: {{ this.selectedCharacter.abil_Score_Str }}</div>
            <div class="card-text text-left stat">DEX: {{ this.selectedCharacter.abil_Score_Dex }}</div>
            <div class="card-text text-left stat">CON: {{ this.selectedCharacter.abil_Score_Con }}</div>
            <div class="card-text text-left stat">INT: {{ this.selectedCharacter.abil_Score_Int }}</div>
            <div class="card-text text-left stat">WIS: {{ this.selectedCharacter.abil_Score_Wis }}</div>
            <div class="card-text text-left stat">CHA: {{ this.selectedCharacter.abil_Score_Cha }}</div>
          </div>
          <div class="col-md-8 float-right">
            <div *ngIf="this.armor">
              <p class="text-center" *ngIf="!this.shield">Armor: {{ this.armor.name }} (AC {{ this.armor.armor_class.base }})</p>
              <p class="text-center" *ngIf="this.shield">Armor: {{ this.armor.name }} (AC {{ this.armor.armor_class.base }}+{{ this.shield.armor_class.base }} shield
                bonus)
              </p>
            </div>
            <hr class="stat" *ngIf="this.weapon && this.armor"/>
            <div *ngIf="this.weapon">
              <p class="text-center" *ngIf="this.weapon">Weapon: {{ this.weapon.name }}</p>
              <p class="text-center">Damage: {{ this.weapon.damage.dice_count }}D{{ this.weapon.damage.dice_value}}</p>
              <p class="text-center">Damage Type: {{ this.weapon.damage.damage_type.name }}</p>
            </div>
          </div>
        </div>

        <div class="card-footer header">
          <img class="icon icon-sm float-right" (click)="confirmDeleteCharacter(content, $event)" placement="right" ngbTooltip="Delete"
            src="assets/icons/delete_icon.png">
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
  </div>

  <div class="modal-body">

    <body>Are you sure you want to delete:
      <b>{{ this.selectedCharacter.name }}?</b>
    </body>

    <body class="text-muted">This action cannot be undone</body>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger col-2" (click)="d()">Cancel</button>
    <button type="button" class="btn btn-success col-2" (click)="c()">Confim</button>
  </div>
</ng-template>