<div class="col-md-12 text-light">
  <h4 class="text-center">
    Equipment
    <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/expand_button_gold.png" placement="right"
      ngbTooltip="Hide" (click)="show = !show" *ngIf="show" />
    <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/shrink_button_gold.png" placement="right"
      ngbTooltip="Show" (click)="show = !show" *ngIf="!show" />
  </h4>
  <hr class="stat mt-0" />
  <div class="row" *ngIf="show">

    <div class="col-md-12 text-center">
      <!-- Armor -->
      <div *ngIf="this.armor">
        <p class="hoverHide" *ngIf="!this.shield">
          Armor: {{ this.armor.name }} (AC {{ this.armor.armor_class.base }})
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.armor, 'armor')"
          />
        </p>
        <p class="hoverHide" *ngIf="this.shield">
          Armor: {{ this.armor.name }} (AC {{ this.armor.armor_class.base }}+{{ this.shield.armor_class.base }} shield bonus)
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.armor, 'armor'); removeGear(this.shield, 'shield')"
          />
        </p>
      </div>
      <div *ngIf="!this.armor">
        <p class="">Armor: None</p>
      </div>

      <!-- Weapon -->
      <div *ngIf="this.weapon">
        <p class="hoverHide">
          Weapon: {{ this.weapon.name }}
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.weapon, 'weapon')"
          />
        </p>
        <p class="">Damage: {{ this.weapon.damage.dice_count }}D{{ this.weapon.damage.dice_value }} {{ this.weapon.damage.damage_type.name
          }}
        </p>
      </div>
      <div *ngIf="!this.weapon">
        <p class="">Weapon: None</p>
      </div>

      <!-- Magical Items -->
      <div *ngIf="this.neck">
        <p class="hoverHide">Neck:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getItemDetails(this.neck, itemModal)">
            {{ this.neck.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.neck, 'neck')"
          />
        </p>
      </div>

      <div *ngIf="this.belt">
        <p class="hoverHide">Belt:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getItemDetails(this.belt, itemModal)">
            {{ this.belt.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.belt, 'belt')"
          />
        </p>
      </div>

      <div *ngIf="this.boot">
        <p class="hoverHide">Boots:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getItemDetails(this.boot, itemModal)">
            {{ this.boot.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.boot, 'boot')"
          />
        </p>
      </div>

      <div *ngIf="this.cloak">
        <p class="hoverHide">Cloak:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getItemDetails(this.cloak, itemModal)">
            {{ this.cloak.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.cloak, 'cloak')"
          />
        </p>
      </div>

      <div *ngIf="this.gloves">
        <p class="hoverHide">Gloves:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getItemDetails(this.gloves, itemModal)">
            {{ this.gloves.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.gloves, 'gloves')"
          />
        </p>
      </div>

      <div *ngIf="this.helm">
        <p class="hoverHide">Helm:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getItemDetails(this.helm, itemModal)">
            {{ this.helm.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.helm, 'helm')"
          />
        </p>
      </div>

      <!-- Rings -->
      <div *ngIf="this.ring_1">
        <p class="hoverHide">Ring 1:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getRingDetails(this.ring_1, ringModal)">
            {{ this.ring_1.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.ring_1, 'ring_1')"
          />
        </p>
      </div>

      <div *ngIf="this.ring_2">
        <p class="hoverHide">Ring 2:
          <button type="button" class="btn btn-link p-0 mb-1" (click)="getRingDetails(this.ring_2, ringModal)">{{ this.ring_2.name}}
          </button>
          <img class="icon icon-sm float-right" src="assets/icons/x_icon.png" placement="left" ngbTooltip="Remove" (click)="removeGear(this.ring_2, 'ring_2')"
          />
        </p>
      </div>

      <div *ngIf="this.money.length">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text stat content">G:</span>
          </div>
          <input type="text" class="form-control bg-transparent text-light" [(ngModel)]="this.money[0]" (input)="setMoneyValue($event.target.value, 0)"
            placeholder="Gold" />
          <div class="input-group-prepend">
            <span class="input-group-text silver content">S:</span>
          </div>
          <input type="text" class="form-control bg-transparent text-light" [(ngModel)]="this.money[1]" (input)="setMoneyValue($event.target.value, 1)"
            placeholder="Silver" />
          <div class="input-group-prepend">
            <span class="input-group-text copper content">C:</span>
          </div>
          <input type="text" class="form-control bg-transparent text-light" [(ngModel)]="this.money[2]" (input)="setMoneyValue($event.target.value, 2)"
            placeholder="Copper" />
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="show">
    <div class="col-md-12">
      <app-bag [character]="character" (action)="getAction($event, ringEquipModal, itemModal)"></app-bag>
    </div>

  </div>
</div>

<ng-template #ringModal let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">{{ this.selectedRing.name }}</h4>
    </div>
  </div>
  <div class="modal-body content">
    <div class="bg-transparent text-light">
      <p>{{ this.selectedRing.desc }}</p>
      <div *ngIf="this.selectedRing.charge_spells">
        <div *ngFor="let sp of this.selectedRing.charge_spells index as i">
          <div>{{ i+1 }}) Name: {{ sp.name }}</div>
          <div class="ml-4">Cost: {{ sp.cost }}</div>
          <div class="ml-4" *ngIf="sp.save">Save: {{ sp.save }}</div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content">
    <button type="button" class="btn btn-sm btn-success" (click)="d()">Close</button>
  </div>
</ng-template>

<ng-template #itemModal let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">{{ this.selectedItem.name }}</h4>
    </div>
  </div>
  <div class="modal-body content">
    <div class="bg-transparent text-light">
      <p *ngFor="let line of this.selectedItem.desc">{{ line }}</p>
    </div>

    <div class="bg-transparent text-light text-center" *ngIf="this.selectedItem.cost">
      <p>Worth: {{ this.selectedItem.cost.quantity | number}}{{ this.selectedItem.cost.unit }}</p>
      <p *ngIf="this.selectedItem.rank">Rarity: {{ this.selectedItem.rank }}</p>
    </div>
  </div>
  <div class="modal-footer content">
    <button type="button" class="btn btn-sm btn-s btn-h" (click)="d();">Cancel</button>
  </div>
</ng-template>

<ng-template #ringEquipModal let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">Swap With</h4>
    </div>
  </div>
  <div class="modal-body content">
    <div class="bg-transparent text-light text-center">
      <select class="custom-select col-sm-5" (change)="selectRingSlot($event.target.value)">
        <option selected>Choose</option>
        <option [value]="1">{{ this.ring_1.name }}</option>
        <option [value]="2">{{ this.ring_2.name }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer content">
    <button type="button" class="btn btn-sm btn-success" (click)="c()" [disabled]="slotSwapIndex === 0">Swap</button>
  </div>
</ng-template>