<div class="col-md-12 text-light">
  <h4 class="text-center">
    Equipment
    <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/expand_button_gold.png" placement="right"
      ngbTooltip="Hide" (click)="show = !show" *ngIf="show" />
    <img class="icon icon-middle icon-ex-sm  no-padding d-inline" src="assets/icons/shrink_button_gold.png" placement="right"
      ngbTooltip="Show" (click)="show = !show" *ngIf="!show" />
  </h4>
  <hr class="stat mt-0" />
  <div class="row" *ngIf="show">

    <div class="col-md-12 text-center">
      <!-- Armor -->
      <div *ngIf="this.armor">
        <p class="" *ngIf="!this.shield">Armor: {{ this.armor.name }} (AC {{ this.armor.armor_class.base }})</p>
        <p class="" *ngIf="this.shield">Armor: {{ this.armor.name }} (AC {{ this.armor.armor_class.base }}+{{ this.shield.armor_class.base }} shield bonus)</p>
      </div>
      <div *ngIf="!this.armor">
        <p class="">Armor: None</p>
      </div>

      <!-- Weapon -->
      <div *ngIf="this.weapon">
        <p class="">Weapon: {{ this.weapon.name }}</p>
        <p class="">Damage: {{ this.weapon.damage.dice_count }}D{{ this.weapon.damage.dice_value }}</p>
        <p class="">Damage Type: {{ this.weapon.damage.damage_type.name }}</p>
      </div>
      <div *ngIf="!this.weapon">
        <p class="">Weapon: None</p>
      </div>

      <!-- Rings -->
      <div *ngIf="this.ring_1">
        <p class="">Ring 1:
          <button type="button" class="btn btn-link p-0" (click)="getRingDetails(this.ring_1, ringModal)">{{ this.ring_1.name
            }}
          </button>
        </p>
      </div>
      <div *ngIf="!this.ring_1">
        <p class="">Ring 1: None</p>
      </div>

      <div *ngIf="this.ring_2">
        <p class="">Ring 2:
          <button type="button" class="btn btn-link p-0" (click)="getRingDetails(this.ring_2, ringModal)">{{ this.ring_2.name
            }}
          </button>
        </p>
      </div>
      <div *ngIf="!this.ring_2">
        <p class="">Ring 2: None</p>
      </div>
      <div *ngIf="this.money.length">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text stat content">G:</span>
          </div>
          <input type="text" class="form-control bg-transparent text-light" [(ngModel)]="this.money[0]" (input)="setMoneyValue($event.target.value, 0)"
            placeholder="Gold" />
          <div class="input-group-prepend">
            <span class="input-group-text silver content">S:</span>
          </div>
          <input type="text" class="form-control bg-transparent text-light" [(ngModel)]="this.money[1]" (input)="setMoneyValue($event.target.value, 1)"
            placeholder="Silver" />
          <div class="input-group-prepend">
            <span class="input-group-text copper content">C:</span>
          </div>
          <input type="text" class="form-control bg-transparent text-light" [(ngModel)]="this.money[2]" (input)="setMoneyValue($event.target.value, 2)"
            placeholder="Copper" />
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="show">

    <div class="col-md-12">
      <div class="mx-auto no-padding" *ngIf="this.items && this.items.length">
        <!-- <h5 class="mx-auto text-center bag">Bag:</h5> -->
        <button (click)="bagVisible = !bagVisible" class="detailButton">Bag
          <span class="float-right glyphicon glyphicon-menu-down"></span>
        </button>
        <div *ngIf="this.bagVisible">
          <ul class="list-group list-group-flush bag-list short">
            <li class="list-group-item content w-100" (mouseover)="this.mouseOver = i" (mouseout)="this.mouseOver = -1" *ngFor="let item of this.items index as i">

              <span class="d-inline">{{ item.name }} (x{{ item.count }})</span>
              <div class="float-right">
                <button [@showState]="this.mouseOver === i || this.onMobile ? 'show' : 'hide'" type="button" class="btn bg-transparent text-light ml-md-2 d-inline"
                  (click)="addItemCount(item, i)" *ngIf="dmPortal && !item.canEquip">+</button>
                <button [@showState]="this.mouseOver === i || this.onMobile ? 'show' : 'hide'" type="button" class="btn btn-sm bg-transparent text-light ml-md-2 d-inline"
                  (click)="getItemToEquip(item, ringEquipModal)" *ngIf="item.canEquip">Equip</button>
                <div class="d-inline" placement="left" ngbDropdown>
                  <button [@showState]="this.mouseOver === i || this.onMobile ? 'show' : 'hide'" type="button" class="btn bg-transparent text-light ml-md-2"
                    ngbDropdownToggle>-</button>
                  <div class="dropdown text-center" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="removeItemCount(i)">Use</button>
                    <button class="dropdown-item" (click)="sellItem(i)">Sell</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #ringModal let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">{{ this.selectedRing.name }}</h4>
    </div>
  </div>
  <div class="modal-body content">
    <div class="bg-transparent text-light">
      <p>{{ this.selectedRing.desc }}</p>
      <div *ngIf="this.selectedRing.charge_spells">
        <div *ngFor="let sp of this.selectedRing.charge_spells index as i">
          <div>{{ i+1 }}) Name: {{ sp.name }}</div>
          <div class="ml-4">Cost: {{ sp.cost }}</div>
          <div class="ml-4" *ngIf="sp.save">Save: {{ sp.save }}</div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer content">
    <button type="button" class="btn btn-sm btn-success" (click)="d()">Close</button>
  </div>
</ng-template>

<ng-template #ringEquipModal let-c="close" let-d="dismiss">
  <div class="modal-header header">
    <div class="col text-center">
      <h4 class="modal-title text-center">Swap With</h4>
    </div>
  </div>
  <div class="modal-body content">
    <div class="bg-transparent text-light">
      <select class="custom-select col-sm-5" (change)="selectRingSlot($event.target.value)">
        <option selected>Choose</option>
        <option [value]="1">{{ this.ring_1.name }}</option>
        <option [value]="2">{{ this.ring_2.name }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer content">
    <button type="button" class="btn btn-sm btn-success" (click)="c()" [disabled]="slotSwapIndex === 0">Swap</button>
  </div>
</ng-template>