<div class="container">
  <div class="row justify-content-between mt-5">

    <!-- Games -->
    <div class="col-lg-5 shadowblock mb-lg-0 mb-5 dark-border">
      <h2>Games</h2>
      <hr class="stat mt-0" />
      <span class="description">
        <p>
          Create a new game as a DM or join a game as a player.
        </p>
      </span>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-s btn-sm" (click)="moveToPage(0)">Join Game</button>
      </div>
    </div>

    <!-- Characters -->
    <div class="col-lg-5 shadowblock dark-border">
      <h2>Characters</h2>
      <hr class="stat mt-0" />
      <span class="description">
        <p>
          Create a new character, manage current characters, or view class/race info.
        </p>
      </span>

      <div class="row justify-content-around">
        <button type="button" class="btn btn-s btn-sm" (click)="moveToPage(3)">Create Character</button>
        <button type="button" class="btn btn-s btn-sm" (click)="moveToPage(2)">View Characters</button>
        <button type="button" class="btn btn-s btn-sm" (click)="moveToPage(1)">Race/Class Info</button>
      </div>
    </div>
  </div>
</div>