.section{
    text-align: center;
    margin-top: 3em;
}

.shadowblock {
    background: rgba(0,0,0, 0.65);
    padding: 2em 2em 2em 2em;
}

.shadowblock img {
    width: 90%;
}

.shadowblock h4 {
    line-height: 1.5em;
    font-size: 1.5em;
    text-align: center;
}
  
.section {
    margin-bottom: 7em;
    text-align: center;
}

  
h1.title:not(.title-red){
    color: black;
    text-shadow: -2px 0 #B9B7B7, 0 2px #B9B7B7, 2px 0 #B9B7B7, 0 -2px #B9B7B7, 0 0 0.1em #B9B7B7; /* D3D3D3 */
}

h1.title.title-red {
    color: #EC0606;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 0 0 0.1em black;
}

.btn:not(.btn-secondary):hover{
    background-color: #ffd553;
}

hr { 
    border: 0; 
    height: 30px; 
    border-style: solid; 
    border-color: #ffd553; 
    border-width: 1px 0 0 0; 
    border-radius: 20px;
    margin-top: 12%; 
    margin-bottom: 0px;
} 
 hr:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #ffd553; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
}